@model List<Fiap.ExercicioFinal.MVC.Models.Funcionario>


@{
    ViewBag.Title = "Listar";
}

<h2>Lista de Funcionarios</h2>

<table class="table">
    <tr>
        <th>Nome</th>
        <th>Data Admissão</th>
        <th>Salário</th>
        <th>Empresa</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Nome</td>
            <td>@item.DataAdmissao.ToShortDateString()</td>
            <td>@item.Salario</td>
            <td>@item.Empresa.RazaoSocial</td>
        </tr>
    }


</table>

