@model List<Fiap.Exercicio02.MVC.Models.Vaga>


@{
    ViewBag.Title = "Listar";
}

<h2>Listar</h2>

<table class="table">

    <tr>
        <th>Cargo</th>
        <th>Descrição</th>
        <th>Salário</th>
        <th>Vale Refeição</th>
        <th>Nível</th>
    </tr>
    @foreach (var item in Model)
    {
        @Html.Partial("_minhaTabela", item)
    }

</table>


